In [19]:

initial_loan = 7000
apr = 0.0867

def interest(value):
    return (value * apr)/12

def monthly_deduction(payment, initial_value):
    month = 0
    interest_total = 0
    while initial_value > 0:
        if initial_value < 100:
            print("remainding value: ", initial_value)
        initial_value = initial_value - payment
        interest_value = interest(initial_value)
        initial_value = initial_value + interest_value
        print(f"month: {month}, initial value: {initial_value}, interest: {interest_value}")
        interest_total += interest_value
        if month % 12 == 0:
            year = month / 12
            print(f"Year end: {year}, interest: {interest_total}")
        month+=1
monthly_deduction(400, initial_loan)

month: 0, initial value: 6647.685, interest: 47.685
Year end: 0.0, interest: 47.685
month: 1, initial value: 6292.824524125001, interest: 45.139524125
month: 2, initial value: 5935.400181311804, interest: 42.57565718680313
month: 3, initial value: 5575.393447621782, interest: 39.993266309977784
month: 4, initial value: 5212.78566528085, interest: 37.39221765906738
month: 5, initial value: 4847.558041712504, interest: 34.77237643165414
month: 6, initial value: 4479.691648563877, interest: 32.13360685137284
month: 7, initial value: 4109.167420724751, interest: 29.475772160874012
month: 8, initial value: 3735.966155339487, interest: 26.798734614736322
month: 9, initial value: 3360.068510811815, interest: 24.102355472327798
month: 10, initial value: 2981.4550058024306, interest: 21.38649499061536
month: 11, initial value: 2600.1060182193532, interest: 18.651012416922562
month: 12, initial value: 2216.001784200988, interest: 15.895765981634826
Year end: 1.0, interest: 416.00178420098615
month: 13, initial value: 1829.12239709184, interest: 13.120612890852136
month: 14, initial value: 1439.4478064108284, interest: 10.325409318988543
month: 15, initial value: 1046.9578168121466, interest: 7.510010401318236
month: 16, initial value: 651.6320870386144, interest: 4.674270226467759
month: 17, initial value: 253.45012886746835, interest: 1.8180418288539888
month: 18, initial value: -147.6086939514642, interest: -1.0588228189325413

In [2]:
monthly_deduction(150, initial_loan)

In [4]:
print("Hello")

Hello

In [ ]:
1160
4265.88
3486.78
8911.66

In [6]:
base = 85000
principal = base * 0.05
retire = principal * 1.075
for i in range(29):
    print (f"Year: {i}, Amount: {base}, Principal: {principal}, Retire: {retire}")
    base = base * 1.025
    principal = principal + base * 0.05
    retire = principal * 1.075

Year: 0, Amount: 85000, Principal: 4250.0, Retire: 4568.75
Year: 1, Amount: 87124.99999999999, Principal: 8606.25, Retire: 9251.71875
Year: 2, Amount: 89303.12499999997, Principal: 13071.40625, Retire: 14051.76171875
Year: 3, Amount: 91535.70312499996, Principal: 17648.19140625, Retire: 18971.805761718748
Year: 4, Amount: 93824.09570312494, Principal: 22339.396191406246, Retire: 24014.850905761712
Year: 5, Amount: 96169.69809570306, Principal: 27147.8810961914, Retire: 29183.97217840575
Year: 6, Amount: 98573.94054809563, Principal: 32076.57812359618, Retire: 34482.32148286589
Year: 7, Amount: 101038.28906179802, Principal: 37128.49257668608, Retire: 39913.12951993754
Year: 8, Amount: 103564.24628834295, Principal: 42306.70489110323, Retire: 45479.707757935976
Year: 9, Amount: 106153.35244555151, Principal: 47614.37251338081, Retire: 51185.45045188437
Year: 10, Amount: 108807.1862566903, Principal: 53054.73182621533, Retire: 57033.836713181474
Year: 11, Amount: 111527.36591310755, Principal: 58631.10012187071, Retire: 63028.43263101101
Year: 12, Amount: 114315.55006093523, Principal: 64346.87762491747, Retire: 69172.89344678627
Year: 13, Amount: 117173.4388124586, Principal: 70205.5495655404, Retire: 75470.96578295591
Year: 14, Amount: 120102.77478277005, Principal: 76210.6883046789, Retire: 81926.48992752981
Year: 15, Amount: 123105.3441523393, Principal: 82365.95551229587, Retire: 88543.40217571806
Year: 16, Amount: 126182.97775614777, Principal: 88675.10440010326, Retire: 95325.737230111
Year: 17, Amount: 129337.55220005145, Principal: 95141.98201010583, Retire: 102277.63066086377
Year: 18, Amount: 132570.99100505273, Principal: 101770.53156035846, Retire: 109403.32142738534
Year: 19, Amount: 135885.26578017903, Principal: 108564.7948493674, Retire: 116707.15446306995
Year: 20, Amount: 139282.3974246835, Principal: 115528.91472060158, Retire: 124193.5833246467
Year: 21, Amount: 142764.45736030058, Principal: 122667.1375886166, Retire: 131867.17290776284
Year: 22, Amount: 146333.56879430808, Principal: 129983.81602833202, Retire: 139732.60223045692
Year: 23, Amount: 149991.90801416576, Principal: 137483.4114290403, Retire: 147794.66728621832
Year: 24, Amount: 153741.7057145199, Principal: 145170.4967147663, Retire: 156058.28396837378
Year: 25, Amount: 157585.24835738286, Principal: 153049.75913263546, Retire: 164528.49106758312
Year: 26, Amount: 161524.87956631742, Principal: 161126.00311095134, Retire: 173210.45334427268
Year: 27, Amount: 165563.00155547535, Principal: 169404.15318872512, Retire: 182109.4646778795
Year: 28, Amount: 169702.0765943622, Principal: 177889.25701844323, Retire: 191230.95129482646

In [1]:
import pandas as pd
import pyodbc

# Create a connection string
conn_str = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=your_server_name;'
    r'DATABASE=your_database_name;'
    r'UID=your_username;'
    r'PWD=your_password'
)

# Create a connection
conn = pyodbc.connect(conn_str)

# Define the SQL query
query = "SELECT * FROM your_table_name"

# Define the chunk size
chunk_size = 50000

# Read the data in chunks and write each chunk to a CSV file
for i, chunk in enumerate(pd.read_sql(query, conn, chunksize=chunk_size)):
    # Construct the filename for each chunk
    filename = f"output_chunk_{i}.csv"
    # Write the chunk to a CSV file
    chunk.to_csv(filename, index=False)

ModuleNotFoundError: No module named 'pandas'